.aboutMain {
  background: url("/images/bg-about.png");
  height: 100dvh;
  width: 100dvw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMask {
  height: 100dvh;
  width: 100dvw;
  background-color: #050c1852;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.aboutText {
  background-color: #011b1a3f;
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  height: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-family: "aquatico";
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
    position: relative;
    top: -50px;

    span {
      font-family: "ananda";
      font-size: 50px;
      text-decoration: wavy;
    }
  }

  p {
    width: 70%;
    color: white;
    font-family: "Anuphan", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .aboutMain {
    background: url("/images/bg-about-mob.png");
    background-size: cover;
  }

  .aboutMask {
    height: 100dvh;
    width: 100dvw;
    background-color: #050c1852;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .aboutText {
    width: 90%;
    height: 70%;

    h1 {
      font-size: 25px;
      margin-bottom: 5px;

      span {
        font-size: 35px;
      }
    }
    p {
      font-size: 20px;
      width: 85%;
    }
  }
}
