.mainContainer {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
  }
  
  .videoContainer {
    height: 100vh;
    width: 100vw;
    background-color: #01002b;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    img {
      height: 270px;
      width: 270px;
      object-fit: contain;
      opacity: 0.9;
      filter: brightness(90%);
      // filter: blur(1px);
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
  
  .clockContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 50%;
    gap: 5%;
    bottom: 10%;
  }
  
  @media screen and (min-width: 1200px) {
    .videoContainer {
      video {
        height: auto;
        width: 100%;
      }
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
    .mainContainer {
      background-color: #01002b;
      // background-color: white;
      height: 100dvh;
      width: 100dvw;
      overflow: hidden;
    }
  
    .videoContainer {
      height: 100dvh;
      width: 100dvw;
      background-color: #01002b;
      overflow: hidden;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      video {
        height: auto;
        width: 125%;
      }
  
      img {
        height: 150px;
        width: 150px;
        object-fit: contain;
        opacity: 0.9;
        filter: brightness(90%);
        // filter: blur(1px);
        position: absolute;
        top: 0px;
        margin-left: 30dvw;
      }
  
      .clockContainer {
        position: absolute;
        bottom: 200px;
        height: 40%;
      }
    }
  }
  