.countdownContainer {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 600px;
  font-family: "aquatico";
}

.clockBg {
  color: white;
  padding: 60px;
  min-width: 120px;
  background-color: #01002b36;
  border-radius: 3rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
  transform: translate(0%, 0%) rotateX(-30deg) rotateY(0deg) rotateZ(0deg);

  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.14);
}

.clockBg div {
  font-size: 38px; /* set the font size of the digits */
  width: 60px; /* set the width of each digit */
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    //text shadow
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.6);
  }
}
