* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Aquatico';
    src: url('/fonts/aquatico-regular.otf');

    font-family: 'ananda-neptouch';
    src: url('/fonts/ananda-neptouch.ttf')
}