.mainContainer {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
}

.videoContainer {
    height: 100dvh;
    width: 100dvw;
    background-color: #01002b;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;

    video {
        height: auto;
        width: 100%;
    }
}


@media screen and (min-width: 1200px) {
    .videoContainer {
        video {
            height: auto;
            width: 100%;
        }
    }
}