.mainContainer {
  height: 100dvh;
  width: 100dvw;
  background-color: black;
}

.videoContainer {
  height: 100dvh;
  width: 100dvw;
  background-color: #01002b;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  video {
    height: auto;
    width: 100%;
  }
}

.clockContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100dvw;
  height: 300px;
  gap: 50px;
  bottom: 130px;
  //   background-color: yellow;
}

@media screen and (min-width: 1200px) {
  .videoContainer {
    video {
      height: auto;
      width: 100%;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .mainContainer {
    background-color: #01002b;
    // background-color: white;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
  }

  .videoContainer {
    height: 100dvh;
    width: 100dvw;
    background-color: #01002b;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    video {
      height: auto;
      width: 125%;
    }

    .clockContainer {
      display: none;
    }
  }
}
