.linkContainer {
  width: 200px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "aquatico";

  a {
    z-index: 1;
    color: white;
    text-decoration: none;
  }
}

.navBarContainer {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 100dvw;
  .listDesk {
    width: 600px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    padding: 0px 100px 0px 100px;
    background-color: #01002b36;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
  }
  a {
    display: inline-block;
    margin: 20px 0;
    position: relative;
    color: #fff;
    font-family: "aquatico";
    text-decoration: none;
    font-size: 22px;
    z-index: 2;
    transition: 0.2s ease-in-out;
    &:hover {
      color: #fff;
      &:before {
        transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: left;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:%23ffffff; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
          0px 50% / 80px 80px repeat-x;
        animation: waving 3s linear infinite;
        transform: scaleX(1);
        @keyframes waving {
          to {
            background-position: 80px 50%, 160px 50%;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      left: 0;
      bottom: -45px;
      z-index: -1;
      transform: scaleX(0);
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
      transform-origin: right;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B stroke:%23ffffff; stroke-width:2; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
        0px 50% / 80px 80px repeat-x;
    }
  }
  .listMob {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .navBarContainer {
    height: 100px;
    width: 100dvw;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .listDesk {
      display: none;
    }

    .listMob {
      width: 600px;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      color: white;
      // background-color: yellow;
      // gap: 20px;
      height: 100%;

      padding: 0px 100px 0px 100px;
      background-color: #01002b36;
      backdrop-filter: blur(10px);
      border-radius: 0.7rem;
      a {
        i {
          font-size: 22px;
        }
      }
    }
  }
}
